/* MVP Variables */
:root {
    --color: #116bee;
    --color-accent: #116bee15;
    --color-bg: #fff;
    --color-bg-secondary: #e9e9e9;
    --color-link: #116bee;
    --color-secondary: #920de9;
    --color-secondary-accent: #920de90b;
    --color-shadow: #f4f4f4;
    --color-table: #214c8d;
    --color-text: #000;
    --color-text-secondary: #767676;

    --mono-font-family: 'Courier New', Courier, monospace;
}

/* General Elements */
hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

nav {
    margin-bottom: 0rem;
    display: flex;
    flex-flow: wrap;
}

h2 a {
    color: inherit;
}

table {
    /* Top, Left/Right, Bottom */
    margin: 1rem 0.5rem 0rem;
}

table tr td:first-child {
    text-align: center;
}

/* IDs */
#header-image {
    border-radius: 2rem;
}

@media screen and (max-width: 749px) {
    #relevant-skills-section {
        display: none;
    }
}

#link-table-filter {
    width: 100%;
    margin-top: 1rem;
}

#link-table tbody tr td a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    min-width: max(50vw, 100px, auto);
    max-width: min(40vw, 900px);
}

#link-table tbody tr td:nth-child(1) {
    text-align: left;
}

#link-table tbody tr td:nth-child(2) {
    text-align: right;
    font-family: var(--mono-font-family);
}

#full-screen-noscript-message {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Classes */
.indent {
    text-indent: 2rem;
}

.galleryContainer {
    line-height: 2rem;
    column-gap: 0.5rem;
    column-count: 3;
}

.galleryImage {
    width: 100% !important;
    height: auto !important;
}

@media screen and (max-width: 900px) {
    .galleryContainer {
        column-count: 2;
    }
}

@media screen and (max-width: 600px) {
    .galleryContainer {
        column-count: 1;
    }
}

.lockheed-martin {
    color: #008000;
}

.another-company {
    color: #800000;
}
