.reveal {
  & .slides {
    & section {
      & h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        text-transform: none;
      }

      & ul {
        font-size: 75%;
      }

      & p {
        font-size: 75%;
      }

      & table {
        font-size: 65%;
      }
    }
  }
}

.blue {
  color: #268bd2;
}

a[target="_blank"]::after {
  content: " \2197";
}
